<div class="about-container">
  <canvas id="waves"></canvas>
  <div class="artist-info mobile">
    <h1 class="artist-name">Kilo Kish</h1>
      <p class="artist-about">Multi-medium artist inspired by humans. Her debut album Reflections in Real Time was released digitally in February of 2016. “RRT x Leyman ” capsule collection available in the “ ksa “ store.</p>
      <div class="artist-image">
        <img src="assets/kilo-3.jpg" alt="">
      </div>
      <p class="artist-sites">
        <a href="www.kilokish.com">site</a> - <a href="https://www.youtube.com/channel/UC2ZdzLwNxepKIl9id6qKT9A">YouTube</a> - <a href="https://soundcloud.com/kilo-kish">soundcloud</a> - <a href="">iTunes</a> - <a href="https://www.twitter.com/kilokish">twitter</a> - <a href="https://www.instagram.com/reflectionsinrealtime/">instagram</a> - <a href="https://www.facebook.com/kkilokish">facebook</a>
      </p>
  </div>
</div>