<div class="contact-container">
	<div class="about-div">
		<span>kisha soundscape + audio is a new music label. we are intent on</span><span>discovering a unique soundtrack for living. currently based in los angeles,</span><span>we release special sound based projects with new and established artists.</span><span>our store is abbreviated uder the moniker "ksa". we are the musical</span><span>compliment to the " kisha " brand.</span>
	</div>
  <div class="contact-div">
	  <h2 class="contact-title">Send us a note.</h2>
		<form class="contact-form" action="https://formspree.io/alexwen.creates@gmail.com"
	      method="POST">
	    <input type="text" placeholder="NAME" name="name">
	    <input type="email" placeholder="EMAIL ADDRESS" name="email">
	    <input type="subject" placeholder="SUBJECT" name="subject">
	    <textarea type="message" placeholder="MESSAGE" name="message"></textarea>
	    <input class="submit-button" type="submit" value="Send">
		</form>
	</div>
</div>