<div class="contact-container">
  <div><h2 class="contact-title">Send us a note.</h2>
	<form class="contact-form" action="https://formspree.io/alexwen.creates@gmail.com"
	      method="POST">
	    <input type="text" placeholder="NAME" name="name">
	    <input type="email" placeholder="EMAIL ADDRESS" name="email">
	    <input type="subject" placeholder="SUBJECT" name="subject">
	    <textarea type="message" placeholder="MESSAGE" name="message"></textarea>
	    <input class="submit-button" type="submit" value="Send">
	</form>
	</div>
</div>