<div class="contact-container">
  <div><span class="contact-title">Send us a note.</span>
	<form class="contact-form" action="https://formspree.io/alexwen.creates@gmail.com"
	      method="POST">
	    <input type="text" placeholder="name" name="name">
	    <input type="email" placeholder="email address" name="_replyto">
	    <input type="subject" placeholder="subject" name="subject">
	    <textarea type="message" placeholder="message" name="message"></textarea>
	    <input type="submit" value="Send">
	</form>
	</div>
</div>