$kilo-blue: #21409A;
$kilo-cream: #EEEBE4;
$breakpoint-waves: 750px;
$breakpoint: 600px;
$breakpoint-small: 400px;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
}

.logo {
  background: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  height: 60%;
  max-height: 300px;
  left: 55px;
  top: 200px;

  @media screen and (max-width: $breakpoint) {
    background: url(logo-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 15%;
    min-height: 120px;
    max-height: 300px;
    left: 15px;
    top: 70px;
  }

  @media screen and (max-width: $breakpoint-small) {
    margin-bottom: 30px;
  }
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  min-height: 40px;
  background: $kilo-blue;
  font-size: 13px;
  margin-bottom: 5%;

  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    text-align: center;
    width: 25%; /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    box-sizing: border-box;

    a {
      display: block;
      padding: 10px 0;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;

      &:hover, &:active, &:focus {
        color: $kilo-cream;
      }
    }
  }
}

.container {
  position: relative;
}

.main-image {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 14vh;
  
  @media screen and (max-width: $breakpoint) {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }

  .new {
    text-transform: uppercase;
    color: #21409A;
    text-align: center;
    z-index: 10;
    position: absolute;
    font-size: 18px;
    top: -29px;
    left: 53%;
    
    @media screen and (max-width: $breakpoint) {
      left: 47%;
    }
  }

  img {
    width: 50%;
    position: absolute;
    max-width: 700px;
    left: 30%;

    @media screen and (max-width: $breakpoint) {
      width: 90%;
      position: absolute;
      max-width: 700px;
      left: 5%;
    }
  }
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 20%;
  position: relative;
  width: 80%;
}

.contact-title{
  text-align: left;
  font-family: 'EB Garamond', serif;
  color: $kilo-blue;
  letter-spacing: 2px;
  margin-top: 0px;
}


.contact-form{
  padding-bottom: 50px;

  .submit-button{
    width: 468px;
    color: white;

    @media screen and (max-width: $breakpoint) {
      width: 268px;
    }
  }

  input{
    display: block;
    padding: 8px;
    margin: 10px 0;
    width: 450px;
    font-size: 18px;
    border: 1px solid lightgray;
    transition: border 1s ease;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint) {
      width: 250px;
    }
  }

  input:focus{
    border: 1px solid $kilo-blue;
    outline: none;
  }

  textarea{
    font-family: 'Karla', sans-serif;

    border: 1px solid lightgray;
    padding: 8px;
    width: 450px;
    font-size: 18px;
    height: 100px;
    transition: border 1s ease;

    @media screen and (max-width: $breakpoint) {
      width: 250px;
    }
  }

  textarea:focus{
    border: 1px solid $kilo-blue;
    outline: none;
  }
}

.radio {
  position: fixed;
  bottom: 0;
  background: $kilo-blue;
  height: 50px;
  width: 100%;
  padding-left: 130px;
  border-top: 1px solid white;

  a {
    text-decoration: none;
    font-size: 16px;

    &:hover, &:active, &:focus {
      color: $kilo-cream;
    }
  }

  #play-pause {
    position: absolute;
    left: 30px;
    top: 15px;
  }

  #next-song {
    top: 15px;
    position: absolute;
    left: 70px;
  }

  #soundcloud {
    position: absolute;
    top: 8px;
    right: 150px;

    img {
      height: 35px;
    }
  }

  img {
    height: 20px;
  }

  .track-name {
    color: white;
    text-transform: uppercase;
  }

  .artist-name {
    color: white;
    margin-left: 10px;
    font-family: 'Garamond', serif;
  }


  .submit-button{
    font-family: 'Karla', sans-serif;
    width: 200px;
    text-transform: uppercase;
    background: lightgray;
    color: white;
    transition: background 1s ease;
  }

  .submit-button:hover{
    background: #c5c3c3;
  }
}

.about-container {
  margin-bottom: 70px;
  color: $kilo-blue;
  width: 65%;
  position: absolute;
  // right: 0px;
  left: 200px;
  top: 10vh;

  @media screen and (max-width: $breakpoint) {
    width: 100%;
    margin-bottom: 70px;
    margin: 0 auto 70px auto;
    position: absolute;
    top: 180px;
    left: 0;
  }

  h1 {
    text-align: center;

  }

  .artist-info {
    width: 65%;
    text-align: justify;

    @media screen and (max-width: $breakpoint) {
      width: 75%;
      margin: auto;
    }
  }

  .artist-about {
    width: 85%;
    margin: 20px auto;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
      margin: auto;
    }
  }

  .artist-sites {
    margin: auto;
    text-align: center;
    width: 60%;

    a {
      text-decoration: none;
      color: $kilo-blue;
    }
  }

  .artist-image {
    margin: auto;
    width: 85%;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
      margin: auto;
    }
  }

  img {
    max-width: 700px;
    width: 100%;
  }
}

.about-div{
  padding-left: 50%;
  padding-right: 80px;
  padding-top: 80px;
  text-align: justify;

  @media screen and (max-width: $breakpoint) {
    padding-left: 0%;
    padding-top: 40%;
    padding-right: 55px;
  }
}

.waves-desktop {
  width: 100%;
  height: 100%;

  .mark {
    position: relative;
    top: -300px;
    left: 135px;
    width: 55%;

    .artist-about, .artist-sites {
      width: 100%
    }
  }

  .artist-mark {
    padding-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .artist-information {
    display: none;
  }

  .dot {
    height: 12px;
    width: 12px;
    background: $kilo-blue;
    border-radius: 50%;
  }

  @media screen and (max-width: $breakpoint-waves) {
    display: none;
  }
}

.mobile {
  display: none;

  @media screen and (max-width: $breakpoint-waves) {
    display: block;
  }
}

.contact-div{
  width: 100%;
  padding-bottom: 20px;
}
