$kilo-blue: #21409A;
$kilo-cream: #EEEBE4;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
}

.logo {
  z-index: 999;
  position: fixed;
  height: 60%;
  max-height: 300px;
  left: 55px;
  top: 200px;
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  min-height: 40px;
  background: $kilo-blue;
  font-size: 13px;
  margin-bottom: 5%;
}

.container {
  position: relative;
}

.main-image {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 14vh;

  .new {
    text-transform: uppercase;
    color: #21409A;
    text-align: center;
    z-index: 10;
    position: absolute;
    font-size: 18px;
    top: -29px;
    left: 53%;
  }

  img {
    width: 50%;
    position: absolute;
    max-width: 700px;
    left: 30%;
  }
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 20%;
  position: relative;
  width: 80%;
}

.contact-title{
  text-align: left;
  font-family: 'EB Garamond', serif;
  color: $kilo-blue;
  letter-spacing: 2px;
}

.contact-form{


  input{
    display: block;
    padding: 8px;
    margin: 10px 0;
    width: 450px;
    font-size: 18px;
    border: 1px solid lightgray;
    transition: border 1s ease;
    font-family: 'Karla', sans-serif;

  }

  input:focus{
    border: 1px solid $kilo-blue;
    outline: none;
  }

  textarea{
    font-family: 'Karla', sans-serif;

    border: 1px solid lightgray;
    padding: 8px;
    width: 450px;
    font-size: 18px;
    height: 100px;
    transition: border 1s ease;

  }

  textarea:focus{
    border: 1px solid $kilo-blue;
    outline: none;
  }
}

.radio {
  position: fixed;
  bottom: 0;
  background: $kilo-blue;
  height: 50px;
  width: 100%;
  padding-left: 90px;
  border-top: 1px solid white;

  a {
    text-decoration: none;
    font-size: 16px;

    &:hover, &:active, &:focus {
      color: $kilo-cream;
    }
  }

  #play-pause {
    position: absolute;
    left: 30px;
    top: 15px;
  }

  img {
    height: 20px;
  }

  .track-name {
    color: white;
    text-transform: uppercase;
  }

  .artist-name {
    color: white;
    margin-left: 10px;
    font-family: 'Garamond', serif;
  }


  .submit-button{
    font-family: 'Karla', sans-serif;
    width: 200px;
    text-transform: uppercase;
    background: lightgray;
    color: white;
    transition: background 1s ease;
  }

  .submit-button:hover{
    background: #c5c3c3;
  }
}

.about-div{
  padding-left: 50%;
  padding-right: 80px;
  padding-top: 80px;
  text-align: justify;
}

.contact-div{
  width: 100%;
  padding-bottom: 20px;
}
