$kilo-blue: #21409A;
$kilo-cream: #EEEBE4;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.logo {
  z-index: 999;
  position: fixed;
  height: 60%;
  max-height: 300px;
  left: 55px;
  top: 200px;
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  min-height: 40px;
  background: $kilo-blue;
  font-size: 13px;
  margin-bottom: 5%;
}

.main-image {

  img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    width: 50%;
    max-width: 700px;
  }
}