<div class="radio">
  <a href="#" id="play-pause"><img src="assets/play.png" alt=""></a>
  <p class="song"><a href="#" class="track-name"></a> <a href="https://soundcloud.com/kilo-kish" class="artist-name">Kilo Kish</a></p>
  <a href="#" id="next-song"><img src="assets/next.png" alt=""></a>
</div>
