<!DOCTYPE html>
<html>
<head>
  <title>KiloSoundscape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//connect.soundcloud.com/sdk.js"></script>
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Karla" rel="stylesheet">

</head>
<body>
<nav class="navbar">
  
</nav>

<img src="assets/logo.png" class="logo" alt="main-logo">

<%= yield %>

</body>
</html>
